// Colors
$red: #ff0000;
$blue: #00acee;
$blueOpacity: rgba(0,172,238,0.8);
$whiteOpacity: rgba(225,225,225,0.8);
$grayOpacity: rgba(116,116,116,0.7);
$grayOpacityContact: rgba(116,116,116,0.2);
$blackOverlay: rgba(0,0,0,0.9);
$blackOverlayAbout: rgba(0,0,0,0.6);
$placeholder: rgba(62,62,62,0.6);
$lightGray: #555;
$brown: #5d2b20;
//-------------------------------
$youtube: #dc472e;
$facebook: #475993;
$instagram: #c3276a;
//-------------------------------
$gray: #3e3e3e;
$darkGray: #444444;
$darkGray2: #2a2a2a;
$white: #fff;
$black: #000;
$yellow: #f1c000;
$darkWhite: #fcfcfc;
$lightGray: #e3e3e3;
$base-text-color: $gray;
