.gallery{
  position: relative;
  &__wrap{
    background-color: $grayOpacity;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  &__container{
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    @media(max-width: 1024px){
      max-width: 700px;
    }
  }
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 150px;
    margin: 5px;
    overflow: hidden;
  }
  &__modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    background-color: $grayOpacity;
    z-index: 3;
  }
  &__subtitle{
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    color: $yellow;
    text-shadow: 1px 1px 1px $black;
  }
  &__media{
    width: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(max-width: 710px){
      width: 420px;
      height: 232px;
      @media(max-width: 546px){
        width: 280px;
        height: 156px;
      }
    }
  }
  &__video{
    position: relative;
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    background-color: $blackOverlay;
  }
}

//----------class hide for filter-----------------------------------------------
.hide{
  transform: scale(0);
  width: 0;
  padding: 0;
  transition: all 0.4s ease-in-out;
}

//----------filter overlay-----------------------------------------------------
.gallery__container:hover .gallery__overlay:hover{
  opacity: 1;
}
//------------------------------------------------------------------------------
iframe{
  width: 560px;
  height: 315px;
  @media(max-width: 710px){
    width: 420px;
    height: 232px;
    @media(max-width: 546px){
      width: 280px;
      height: 156px;
    }
  }
}
  //---------------------------------
  .slick-prev{
    position: absolute;
    top: 50%;
    left: -30px;
    transform: rotateY(-50%);
    border-color: transparent;
    z-index: 1;
    font-size: 0;
    width: 28px;
    height: 28px;
  }
  .slick-next{
    position: absolute;
    top: 50%;
    right: -30px;
    transform: rotateY(-50%);
    border-color: transparent;
    z-index: 1;
    font-size: 0;
    width: 28px;
    height: 28px;
  }
//----------video----------
.video{
  position: relative;
  &__prev{
    @include display-flex(wpar, center, center);
    position: absolute;
    top: 50%;
    left: -30px;
    transform: rotateY(-50%);
    z-index: 1;
    width: 28px;
    height: 28px;
  }
  &__next{
    @include display-flex(wpar, center, center);
    position: absolute;
    top: 50%;
    right: -30px;
    transform: rotateY(-50%);
    z-index: 1;
    width: 28px;
    height: 28px;
  }
}
.fa-angle-left{
  color: $black;
}
.fa-angle-right{
  color: $black;
}
