.header {
  position: relative;
  min-height: 100vh;
  &__container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1366px;
    height: 100%;
    padding: 50px 15px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__head{
    position: relative;
    padding-bottom: 50px;
  }
  &__title{
    margin-bottom: 70px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    text-shadow: 1px 1px 1px $black;
  }
  &__logo{
    margin-bottom: 100px;
    font-family: 'Archivo Black';
    font-size: 92px;
    font-weight: 700;
    text-transform: uppercase;
    color: $yellow;
    text-shadow: 1px 1px 1px $black;
  }
  &__description{
    margin-bottom: 30px;
    font-size: 18px;
    color: $whiteOpacity;
  }
  &__slogan{
    margin-bottom: 50px;
    font-family: 'Archivo Black';
    font-size: 32px;
    text-transform: uppercase;
    color: $white;
    text-shadow: 1px 1px 1px $black;
  }
  &__btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 2px;
    background-color: $yellow;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    text-shadow: 1px 1px 1px $black;
    animation: changeColor 4s  ease-in-out infinite;
    @include transition(1s);
    &:hover{
      animation: buttonMove 2s ease-in-out 1;
      background-color: $blue;
    }
  }
  &__modal{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 600px;
    background-color: $blackOverlay;
  }

  &__navbar-scroll{
    position: fixed;
    top: 0;
    background-color: $blueOpacity;
    width: 100%;
    height: 60px;
    z-index: 3;
    opacity: 0;
    &.is-visible {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &__navbar-wrap{
    width: 100%;
    height: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__navbar-logo{
    font-family: 'Archivo Black';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $white;
    text-shadow: 1px 1px 1px $black;
  }
  &__nav-item{
    margin-right: 30px;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    color: $black;
    text-shadow: 1px 1px 1px $black;
    &:last-of-type{
      margin-right: 0;
    }
    &--active{
      color: $white;
      text-shadow: 1px 1px 1px $black;
      border-bottom: 2px solid $white;
    }
    &:hover{
      color: $white;
      text-shadow: 1px 1px 1px $black;
      border-bottom: 2px solid $white;
    }
  }


  &__scroll{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}
//----------modal----------
.modal{
  display: none;
  &--active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__exit{
    margin-left: 630px;
    font-size: 56px;
    color: $white;
    text-shadow: 1px 1px 1px $black;
    cursor: pointer;
    @include transition(0.3s);
    &:hover{
      color: $blue;
    }
  }
  &__container{
    width: 600px;
    height: 400px;
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
}
//----------modal-form------
  .modal-form{
    width: 100%;
    max-width: 400px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__label{
      position: relative;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:last-of-type{
        margin-bottom: 50px;
      }
    }
    &__input{
      width: 100%;
      max-width: 300px;
      height: 30px;
      padding: 0 5px;
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 2px solid $black;
      border-radius: 2px;
      z-index: 1;
      &:focus{
        border-color: $black;
      }
    }

    &__btn{
      width: 210px;
      height: 50px;
      margin: 0 auto;
      background-color: $black;
      border-radius: 2px;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 0.05em;
      color: $white;
      border: none;
      &:hover{
        background-color: $gray;
        text-shadow: 1px 1px 1px $black;
      }
    }
  }
//----------fa------------------------------------------------------------------
.fa-angle-down{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $blue;
  @include transition(0.5s);
  animation: upDown 4s  ease-in-out infinite;
  &:hover{
    animation: none;
    color: $yellow;
  }
}

//----------animate header__srcoll
@keyframes upDown {
  0% {top: 50%; left: 50%; transform: translate(-50%, -50%);}
  50% {top: 40%; left: 50%; transform: translate(-50%, -50%);}
  100% {top: 50%; left: 50%; transform: translate(-50%, -50%);}
}
//----------animate header__btn
@keyframes changeColor{
  0%{background-color: $yellow;}
  50%{background-color: darken($yellow, 20%);}
  100%{background-color: $yellow;}
}
@keyframes buttonMove{
  0%{transform: translateX(0);}
  25%{transform: translateX(5px);}
  50%{transform: translateX(0);}
  75%{transform: translateX(5px);}
  100%{transform: translateX(0);}

}


//----------BGVideo-------------------------------------------------------------
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
//----------placeholder------
::-webkit-input-placeholder {
  color: $gray;
}
:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
