.header {
  position: relative;
  min-height: 100vh;
  &__container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1100px;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__head{
    position: relative;
    padding: 50px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 875px){
      align-items: center;
      @media (max-width: 875px){
        padding: 20px 0
      }
    }
  }
  &__title{
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    text-shadow: 1px 1px 1px $black;
    @media(max-width: 1135px){
      font-size: 27px;
      @media(max-width: 840px){
        font-size: 18px;
        @media(max-width: 420px){
          text-align: center;
        }
      }
    }
  }
  &__nav{
    @media(max-width: 900px){
      display: none;
    }
  }
  &__logo{
    margin-bottom: 60px;
    font-family: 'Archivo Black';
    font-size: 92px;
    font-weight: 700;
    text-transform: uppercase;
    color: $yellow;
    text-shadow: 1px 1px 1px $black;
    @media(max-width: 1135px){
      font-size: 68px;
      @media(max-width: 875px){
        font-size: 63px;
        @media(max-width: 840px){
          text-align: center;
          font-size: 46px;
        }
      }
    }
  }
  &__slogan{
    font-family: 'Archivo Black';
    font-size: 28px;
    text-transform: uppercase;
    color: $white;
    text-shadow: 1px 1px 1px $black;
    @media(max-width: 1366px){
      font-size: 24px;
      @media(max-width: 840px){
        font-size: 16px;
        @media(max-width: 420px){
          line-height: 1.5em;
          text-align: center;
        }
      }
    }
  }
  &__navbar-scroll{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: $black;
    //border-bottom: 1px solid $gray;
    z-index: 3;
    opacity: 0.8;
    &.is-visible {
      opacity: 1;
    }
  }
  &__nav-mobail{
    display: none;
    @media(max-width: 900px){
      position: fixed;
      top: 60px;
      width: 100%;
      display: flex;
      flex-direction: column;
      z-index: 3;
      opacity: 0;
      pointer-events: none;
      &.is-visible {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  &__navbar-wrap{
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__navbar-logo{
    font-family: 'Archivo Black';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $white;
    text-shadow: 1px 1px 1px $black;
    @media(max-width: 420px){
      font-size: 20px;
      @media(max-width: 350px){
        font-size: 18px;
      }
    }
  }
  &__navbar-mobail{
    display: none;
    @media(max-width: 900px){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 32px;
      height: 32px;
      background-color: transparent;
      cursor: pointer;
    }
  }
  &__line-mobail{
    width: 30px;
    height: 6px;
    background-color: $white;
    border-radius: 1px;
  }
  &__nav-item{
    margin-right: 30px;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    color: $white;
    text-shadow: 1px 1px 1px $black;
    &:last-of-type{
      margin-right: 0;
    }
    &--active{
      position: relative;
      color: $yellow;
      text-shadow: 1px 1px 1px $black;
      &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $yellow;
      }


    }
    &:hover{
      color: $yellow;
      text-shadow: 1px 1px 1px $black;
    }
    @media(max-width: 980px){
      margin-right: 15px;
    }
  }

  &__scroll-wrap{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__scroll{
    position: relative;
    width: 50px;
    height: 50px;
  }
}
//----------modal----------
.modal{
  display: none;
  &--active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__exit{
    margin-left: 650px;
    font-size: 56px;
    color: $white;
    text-shadow: 1px 1px 1px $black;
    cursor: pointer;
    @include transition(0.3s);
    &:hover{
      color: $blue;
    }
    @media(max-width: 715px){
      margin-left: 340px;
      font-size: 48px;
      @media(max-width: 400px){
        margin-left: 230px;
        font-size: 48px;

      }
    }
  }
  &__container{
    width: 600px;
    height: 400px;
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    @media(max-width: 715px){
      width: 300px;
      @media(max-width: 400px){
        width: 250px;
        height: 300px;
      }
    }
  }
}
//----------modal-form------
  .modal-form{
    width: 100%;
    max-width: 400px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(max-width: 715px){
      max-width: 300px;
      @media(max-width: 400px){
        max-width: 200px;
      }
    }
    &__label{
      position: relative;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:last-of-type{
        margin-bottom: 50px;
        @media(max-width: 400px){
          margin-bottom: 30px;
        }
      }
      @media(max-width: 715px){
        flex-direction: column;
      }
    }
    &__input{
      width: 100%;
      max-width: 300px;
      height: 40px;
      padding: 0 5px;
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 2px solid $black;
      border-radius: 2px;
      z-index: 1;
      &:focus{
        border-color: $black;
      }
      @media(max-width: 715px){
        max-width: 200px;
        @media(max-width: 400px){
          height: 20px;
        }
      }
    }

    &__btn{
      width: 210px;
      height: 50px;
      margin: 0 auto;
      background-color: $black;
      border-radius: 2px;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 0.05em;
      color: $white;
      border: none;
      @media(max-width: 400px){
        width: 190px;
      }
      &:hover{
        background-color: $gray;
        text-shadow: 1px 1px 1px $black;
      }
    }
  }
//----------mobail----------
.mobail{
  &__item{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: $white;
    text-shadow: 1px 1px 1px $black;
    background-color: $grayOpacity;
    border-bottom: 1px solid $black;
    &--active{
      color: $yellow;
      text-shadow: 1px 1px 1px $black;
      background-color: darken($grayOpacity, 20%);
    }
  }
}
//----------fa------------------------------------------------------------------
.fa-angle-down{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $blue;
  @include transition(0.5s);
  animation: upDown 4s  ease-in-out infinite;
  &:hover{
    animation: none;
    color: $yellow;
  }
}

//----------animate header__srcoll
@keyframes upDown {
  0% {top: 50%; left: 50%; transform: translate(-50%, -50%);}
  50% {top: 40%; left: 50%; transform: translate(-50%, -50%);}
  100% {top: 50%; left: 50%; transform: translate(-50%, -50%);}
}
//----------animate header__btn
@keyframes changeColor{
  0%{background-color: $yellow;}
  50%{background-color: darken($yellow, 20%);}
  100%{background-color: $yellow;}
}

//----------BGVideo-------------------------------------------------------------
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
//----------placeholder------
::-webkit-input-placeholder {
  color: $gray;
}
:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

//----------filter
.video-container .filter{

    z-index: 0;
  }
