body {
  min-width: 320px;
  position: relative;
  font-size: 14px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 400;
  color: $base-text-color;
  line-height: 1;
  overflow-x: hidden;
  &.hidden {
      overflow: hidden;
  }
}

input {
  required: valid;
  outline: none;
  @include transition(0.5s);
  &:focus {
      required: invalid;
  }
}

textarea {
  required: valid;
  color: $base-text-color;
  &:focus {
    required: invalid;
    color: $base-text-color;
  }
}

button,
input[type='submit'] {
  cursor: pointer;
  @include transition(0.5s);
  background: transparent;
  border: 1px solid $base-text-color;
  &:focus,
  &:active {
      outline: none;
  }
}

a {
  text-decoration: none;
  color: $base-text-color;
  cursor: pointer;
  @include transition(0.5s);
  &:hover {
      text-decoration: none;
  }
}

li {
  list-style: none;
}

//----------buttunUp------------------------------------------------------------
.button-up{
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  border-color: transparent;
  background-color: $blue;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  @include transition(0.5s);
  z-index: 10;
  &.is-visible {
    opacity: 1;
    pointer-events: auto;
  }
  &:hover {
    background-color: $yellow;
  }
}

//----------img-----------------------------------------------------------------
  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

//----------.main---------------------------------------------------------------
  .main{
    width: 100%;
    min-height: 100vh;
    padding: 0 15px;
  }

//----------.wrap---------------------------------------------------------------
  .wrap{
    width: 100%;
    max-width: 1366px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 80px 15px;
  }

//----------title---------------------------------------------------------------
  .title{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $yellow;
    margin-bottom: 80px;
  }
