// Colors
$red: #ff0000;
$blue: #00acee;
$whithOpacity: rgba(2256,225,225,0.5);
//-------------------------------
$gray: #757575;
$darkGray: #444444;
$darkGray2: #2a2a2a;
$white: #fff;
$black: #000;
$yellow: #ffe400;
$darkWhite: #fcfcfc;
$lightGray: #e3e3e3;
$base-text-color: $gray;
